<link href="style.css" rel="stylesheet" type="text/css">

<div class="top">
</div>  

<form action="/products/create" method="post">
    <input type="text" placeholder="Nome" name="name" required> <br>
    <input type="text" placeholder="Valor" name="price" pattern="\d+(,\d{2})?" required> <br><br>
    <input type="submit" value="Cadastrar">
</form>

<div class="margin"></div>  

<a href="/">Voltar</a>
