<link href="style.css" rel="stylesheet" type="text/css">

<div class="top">
</div>  

<form action="/products/update" method="post">
    <input type="hidden" name="id" value="<%= product.id %>">
    <input type="text" placeholder="Nome" name="name" value="<%= product.name %>" required> <br>
    <input type="text" placeholder="Valor" name="price" value="<%= (product.price.toFixed(2)).
    replace('.',',') %>" pattern="\d+(,\d{2})?" required> <br><br>
    <input type="submit" value="Atualizar">
</form>

<div class="margin"></div>  

<a href="/">Voltar</a>
